@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  text-align: center;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
label,
input,
button {
  padding: 10px;
  font-size: 1.3rem;
}

button {
  margin-top: 20px;
  cursor: pointer;
}

h1 {
  margin-bottom: 1rem;
  text-align: center;
}

.classification {
  margin-top: 1.4rem;
  text-align: left;
}

.calculate {
  background-color: blue;
  color: #fff;
  border: none;
  padding: 15px 30px;
  border-radius: 3px;
}
