* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  margin: 0 auto;
}
label,
input,
button {
  padding: 10px;
  font-size: 1.3rem;
}

button {
  margin-top: 20px;
  cursor: pointer;
}

h1 {
  margin-bottom: 1rem;
  text-align: center;
}

form {
  margin: 0 auto;
  width: 400px;
  height: 400px;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
